name: CI
on:
  push:
    branches:
      - main
      - renovate/*
  pull_request:
    branches:
      - main
      - renovate/*
  workflow_call:
    inputs:
      version:
        description: The version to set in the package.json files
        default: "0.0.0"
        required: false
        type: string

defaults:
  run:
    shell: pwsh

env:
  NODE_VERSION: 21

jobs:
  lint:
    name: Lint

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run EsLint
        run: npx nx run-many --target lint

      - name: Run Prettier
        run: npx prettier --check .

  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npx nx run-many --target build --configuration production

      - name: Log Version
        run: Write-Host ${{ inputs.version }}

      - name: Set Version
        if: inputs.version != ''
        run: npx nx run-many --target version --args="--version=${{ inputs.version }}"

      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist
          retention-days: 1

  test:
    name: Test

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run Tests
        run: npx nx run-many --target test --configuration ci

      - name: Codecov
        uses: codecov/codecov-action@v5.0.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: coverage

  e2e:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        node:
          - 18
          - 20
          - 21

    name: E2E using Node.JS ${{ matrix.node }} on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - if: always()
        uses: ./
        continue-on-error: true
        id: higher-patch-version
        with:
          package-json: "./e2e/higher-patch-version/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.higher-patch-version.outputs.latest-tag }}" -eq "latest" ? 0 : 1)'

      - if: always()
        uses: ./
        continue-on-error: true
        id: higher-minor-version
        with:
          package-json: "./e2e/higher-minor-version/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.higher-minor-version.outputs.latest-tag }}" -eq "latest" ? 0 : 1)'

      - if: always()
        uses: ./
        continue-on-error: true
        id: higher-major-version
        with:
          package-json: "./e2e/higher-major-version/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.higher-major-version.outputs.latest-tag }}" -eq "latest" ? 0 : 1)'

      - if: always()
        uses: ./
        continue-on-error: true
        id: higher-patch-version-than-v1
        with:
          package-json: "./e2e/higher-patch-version-than-v1/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.higher-patch-version-than-v1.outputs.latest-tag }}" -eq "latest-1" ? 0 : 1)'

      - if: always()
        uses: ./
        continue-on-error: true
        id: higher-minor-version-than-v1
        with:
          package-json: "./e2e/higher-minor-version-than-v1/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.higher-minor-version-than-v1.outputs.latest-tag }}" -eq "latest-1" ? 0 : 1)'

      - if: always()
        uses: ./
        continue-on-error: true
        id: lower-major-version-than-all
        with:
          package-json: "./e2e/lower-major-version-than-all/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.lower-major-version-than-all.outputs.latest-tag }}" -eq "latest-0" ? 0 : 1)'

      - if: always()
        uses: ./
        continue-on-error: true
        id: does-not-exist
        with:
          package-json: "./e2e/does-not-exist/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.does-not-exist.outputs.latest-tag }}" -eq "latest" ? 0 : 1)'

      - if: always()
        uses: ./
        continue-on-error: true
        id: invalid-path
        with:
          package-json: "./e2e/invalid-path/package.json"
      - if: always()
        shell: pwsh
        run: 'exit ("${{ steps.invalid-path.outputs.latest-tag }}" -eq "" ? 0 : 1)'
